* {
  box-sizing: border-box;
  font-family: "nata sans";
}
:root {
  --text-color: #131b23;
  --bg-color: #fafffd;
  --highlight: #d72638;
  --bg-accent: #fdca40;
  --text-base: #131b23;
}

.darkmode {
  --text-color: #fafffd;
  --bg-color: #131b23;
  --highlight: #d72638;
  --bg-accent: #fdca40;

  --text-base: #131b23;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--bg-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#theme-switch svg {
  fill: var(--text-base);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-content: space-between;
  color: var(--text-base);
  background-color: var(--bg-accent);
  border-radius: 100px;
  font-weight: bolder;
  position: fixed;
  width: 98%;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
nav ul li svg {
  margin-right: 5px;
  fill: var(--text-base);
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
nav .logo-base {
  padding: 3px 8px 0.7px 6px;
  margin-right: 5px;
}
nav .logo-base svg {
  background-color: var(--highlight);
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 3000px;
}

nav .logo {
  display: flex;
  justify-content: start;
  align-items: center;
}
.togglebtn {
  display: flex;
  justify-content: end;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active,
nav a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}
nav a:hover {
  color: var(--highlight);
}

#home {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100dvh;
}

#home h1 {
  font-weight: bolder;
  font-size: 5em;
  font-family: "tangerine";
}
#home p {
  font-size: 1.4em;
}
.highlight {
  color: var(--highlight);
  font-family: "tangerine";
  font-weight: bolder;
}

#about {
  height: 70dvb;
  text-align: center;
  background-color: #d72638;
}
