* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #040506;
  --text-highlight: #d72638;
  --font-color: #fafffd;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 10px;
}

/* Nav Bar */
nav {
  border: 1px solid white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}
.logo-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li {
  display: flex;
  justify-content: center;
  align-items: space-around;
}
