* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #040506;
  --text-highlight: #58a4b0;
  --font-color: #fafffd;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 10px;
  font-family: "nata sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

/* Nav Bar */

nav {
  font-size: 1.1em;
  padding: 10px 5px 10px 5px;
  border-radius: 100px;
  border: 1px solid #fafffd80;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 95%;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 13px;
}
nav .logo-title {
  font-size: 1.8rem;
  font-family: "tangerine";
  font-weight: bolder;
}
nav .logo-base {
  display: flex;
  align-items: center;
}
nav .logo svg {
  fill: var(--bg-color);
}

nav .logo {
  margin: 0px 0px 0px 8px;
}
nav .logo-base {
  margin: 0;
}
nav .logo-base svg {
  background-color: var(--text-highlight);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100px;
  font-weight: bolder;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-weight: 600;
}
nav a {
  color: var(--font-color);
  text-decoration: none;
  padding: 8px 15px 8px 15px;
}
nav a:hover {
  color: var(--text-highlight);
}
.active {
  /* box-shadow: 0 0 6px 1px #fafffd9e; */
  padding: 8px 15px 8px 15px;
  border-radius: 100px;
  background-color: #fafffd;
  color: var(--bg-color);
  transition: background-color 0.5s ease;
}

/* HERO SECTION */

#hero {
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero .back-img {
  position: absolute;
  width: 40%;
  height: auto;
}

#hero h1 {
  font-size: 6rem;
  font-family: "tangerine";
  margin-bottom: 10px;
}
#hero .highlight {
  color: var(--text-highlight);
}
.blur {
  height: 0;
  width: 40%;
  position: absolute;
  box-shadow: 0 0 700px 15px #fafffd4c;
}
section {
  height: 100vh;
}
